flask
gunicorn
flask-cors
pymongo
qrcode
pillow
svglib
reportlab
cloudinary
python-dotenv
requests
numpy
pandas
opencv-python-headless
pyzbar
pyjwt
fake-useragent
requests-toolbelt
matplotlib
seaborn
plotly
PyPDF2
python-barcode
barcode
beautifulsoup4
lxml
openpyxl
geopy
